DL_POL TEST CASE 3: Polymer in Water

integrator leap frog # 

temperature	    150
pressure          0.001

ensemble nvt hoover 0.2

steps            i 40000

equilibration         0
scale                 0
print               100
stack               100
stats                10

timestep          0.0005
delr width       1.2000
cutoff            9.000
rvdw cutoff       9.000

shake tolerance   1.0E-6
ewald precision   1.0E-6


cap forces 100.

rdf              10 0.05
print rdf
zden

#plumed on
#plumedfile plumed.dat

traj nstraj 0 istraj 100 keytrj 0

job time         50000000.00
close time           1000.00

finish 


